body {
    background-image: url("laugh.jpg");
    background-size: cover;
    font-family: 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 50px;
}

#increment-btn {
    background: lightgreen;
    border: 3px solid rgb(53, 255, 63);
    color: black;
}

#save-btn {
    background: darkmagenta;
    margin-left: 34px;
}

.main {
    max-width: 80%;
    margin: auto;
    padding: 30px 0;
    border: 3px solid black;
    border-radius: 30px;
    margin-top: 50%;
}
